*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}


.nav-bar{
    display:flex;
    justify-content: space-between;
    margin: 20px 162px;
    padding-bottom: 20px;
    border-bottom: 2px dashed rgba(38, 38, 38, 1);

}

.buttons-container{
    display: flex;
    height: 45px;
}

.button1{
    padding: 10px 30px;
    border: #1A1A1A 1px solid;
    border-radius: 10px;
    background-color: #1A1A1A;
}


.button2{
    padding: 10px 30px;
    border: 2px dashed rgba(38, 38, 38, 1);
    border-radius: 10px;
    margin-left: 5px; 
    color: rgba(179, 179, 178, 1);
}

.button3{
    padding: 10px 20px;
    border: #1A1A1A 1px solid;
    border-radius: 10px;
    background-color: #1A1A1A;
}
.button3 img{
    background-color: transparent;
}


.button4{
    padding: 10px 30px;
    border: #1A1A1A 1px solid;
    border-radius: 10px;
    background-color: rgba(174, 155, 132, 1);
    margin-left: 5px;
    color: black;
    font-weight: 550;
}

.logo{
    padding: 10px;
    
}

.main-body{
    margin: 60px 162px;
}

.container{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    width: 916px;
    height: 624px;    
    border-radius: 20px 20px 0px 0px;
}

.button5{
    position: relative;
    bottom: 2px;
    padding: 10px 20px;
    border: #1A1A1A 1px solid;
    border-radius: 10px;
    background-color: #1A1A1A;
    translate: 0% -200%;
    z-index: 1;
}


.button-bar{
    display: flex;
    justify-content: center;
    justify-items: center;
    top: 100%;
    left: 50%;
    translate: 0% -40%;
    width: 150px;
    height: 75px;
    border-radius: 17px;
    background-color: black;
    
}

.button5 img{
    background-color: transparent;
    height: 20px;
    width: 20px;
    transform: translateY(20%);
}
.container1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    transform: translateY(-35%);
}
.content1{
    border: 1px dashed rgba(38, 38, 38, 1);
    padding: 50px;
    
}

.container1 .item1{
    grid-area: 1 / 1 / 3 / 3;
    border-radius: 0px 0px 0px 17px;
}

.item4{
    border-radius: 0px 0px 17px 0px;
}

.content1 .stats{
    font-size: 35px;
}

.info{
    color: rgba(129, 128, 126, 1);
}
.content1 h1{
    margin-top: 15px;
    margin-bottom: 40px;
}

.btn-container{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    transition: background-color 0.3s ease-in 0s;
}
.content1 .btn-container .buttons:hover{
    background-color: #1A1A1A;    
}

.buttons{
    padding: 10px 25px;
    margin-right: 5px;
    border: 2px dashed rgba(38, 38, 38, 1);
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-weight: 550;   
}


.buttons-container .button1{
    transition: transform 0.3s linear 0s,
    background-color 0.3s linear 0s;
}

.buttons-container .button1:hover{
    transform: scale(1.1);
    background-color: rgba(174, 155, 132, 1);
    border: #1A1A1A 1px solid;
    color: black;
}

.buttons-container .button2{
    transition: transform 0.3s linear 0s,
    background-color 0.3s linear 0s;
}

.buttons-container .button2:hover{
    transform: scale(1.1);
    background-color: rgba(174, 155, 132, 1);
    border: #1A1A1A 1px solid;
    color: black;
}

.buttons-container .button4{
    transition: transform 0.3s linear 0s,
    background-color 0.3s linear 0s;
}

.buttons-container .button4:hover{
    transform: scale(1.1);
    background-color: black;
    border: white 1px solid;
    color : white;
}

.container2{
    display: grid;
    height: 700px;
    transform: translateY(-15%);
}

.item2{
    grid-column: span 3;
    border-radius: 17px 17px 0px 0px;
}

.content2, .item2{
    position: relative;
    overflow: hidden;
    border: 1px dashed rgba(38, 38, 38, 1);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
}
.content2{
    grid-row: span 2;
}
.corner{
    position: absolute;
    top: 0%;
    left: 55%;
    width: 50%;
    height: 50%;;
    z-index: 1;
    transform: scale(0.9);
}

.icon{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}
.content2 .text{
    position: relative;
    top: 60%;
    left: 0%;
    padding-left: 20px;
    width: 250px;
    
}
.content2 .text h3{
    padding-bottom: 5px;
}
.content2 .text p, .item2 p{
    color: rgba(129, 128, 126, 1);
    font-size: 14px;
}

.item2 {
    padding-top: 45px;
    padding-left: 20px;
}

.item2 h1{
    margin-bottom: 10px;
}

.item3 .btn-container .buttons:hover, .item5 .btn-container .buttons:hover{
    background-color: rgba(194, 180, 163, 1);
    color:black;
}

.container3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    transform: translateY(-8%);
}

.content3, .item3{
    border: 1px dashed rgba(38, 38, 38, 1);
    overflow: hidden;    
}
.item3{
    position: relative;
    grid-column: span 3;
    grid-row: span 2;
}
.content3{
    grid-row: span 3;
    height: 400px;
}
.card .product{
    width:250px;
    height: 200px;
    border-radius: 30px 30px 0px 0px;
}

.item3 img{
    position: absolute;
    background-color: transparent;
    left:75%;
    top:-15%;
    transform: translate(15%, 10%);
    height: 300px;
    width: 300px;
}
.item3 .btn-container{
    position: relative;
    top:15%;
    left: 5%;
}

.item3 h1{
    margin-top: 20px;
    margin-left: 20px;
}

.item3 p{
    margin-left: 20px;
    margin-top: 10px;
    color: rgba(129, 128, 126, 1);
}
.card{
    position: relative;
    
}
.card .product{
    margin:20px;
    transition: transform 0.3s ease;
}

.card .product:hover{
    transform: scale(1.1);
}

.card .button{
    display: inline-block;
    border: 1px solid #1A1A1A;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #1A1A1A;
    color:rgba(179, 179, 178, 1);
}

.card .btn{
    display: inline-block;
    position: relative;
    border: 1px solid #1A1A1A;
    border-radius: 10px;
    padding: 10px;
    left: 20%;
    background-color: #1A1A1A;
}
.card .btn img{
    background-color: transparent;
    height: 15px;
    width: 15px;
    transform: translateY(20%);
}

.content3 .info{
    position: relative;
    top: 40px;
    left: 20px;
}
.content3 h3{
    margin-bottom: 10px;
}

.container4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    transform: translateY(-7%);
}

.content4, .item5{
    position: relative;
    border: 1px dashed rgba(38, 38, 38, 1); 
    overflow: hidden;
}
.content4{
    padding: 30px;
}
.item5{
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 17px 17px 0px 0px;
}

.item5 img{
    position: absolute;
    width: 300px;
    height: 300px;
    left:80%;
    top: -20%;
}

.item5 .btn-container{
    position: relative;
    top: 20%;
    left: 5%;
    background-color: transparent;
}

.item5 h1{
    margin-top: 20px;
    margin-left: 20px;
}

.item5 p{
    margin-left: 20px;
    margin-top: 10px;
    color: rgba(129, 128, 126, 1);
}

.content4 h3{
    transition: color 0.3s ease;
}

.content4 h3:hover{
    color: rgb(255, 217, 171);
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px dashed rgba(38, 38, 38, 1);
}
.footer .logo{
    width:500px;
    height: auto;
}

.footer .icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}
.footer .icon1{
    background-color: rgba(194, 180, 163, 1);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    
}

.footer .icon1 img{
    background-color: transparent;
    padding-top: 3px;
    padding-left: 3px;
}

.footer .footer-text{
    margin: 50px;
}

.footer-text h4{
    margin-bottom: 20px;
}

.input-container input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(26, 26, 26, 1);
}
.footer span{
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer span:hover{
    transform: scale(1.1);
    color: rosybrown;
}


.footer .icons:hover{
    animation: move 2s linear infinite;
}

.i1 { animation: move1 2s linear infinite; }
.i2 { animation: move2 2s linear infinite; }
.i3 { animation: move3 2s linear infinite; }
.i4 { animation: move4 2s linear infinite; }

@keyframes move1 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes move2 {
  0%, 25% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@keyframes move3 {
  0%, 50% { transform: translateY(0); }
  75% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@keyframes move4 {
  0%, 75% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
